@using System.Web.UI.HtmlControls
@using yarn_rider.Models
@model yarn_rider.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User currentUser = (User) Session["currentUser"];

    SiteDbContext db = new SiteDbContext();
}


<h3>Profile</h3>
<hr/>

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.ActivationCode)
    @Html.HiddenFor(model => model.IsEmailVerified)


    <div class="row">
        <div class="col-1">
            <img src="@Html.DisplayFor(model => model.Avatar)" style="width: 5rem;"/>
        </div>

        <div class="col">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {placeholder = currentUser.UserName, @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailID, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailID, new {htmlAttributes = new {placeholder = currentUser.EmailID, @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.EmailID, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Avatar, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Avatar, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Avatar, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Country, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(model => model.Country, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Country, "", new {@class = "text-danger"})
                    </div>
                </div>

                @if (currentUser.Admin)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Admin, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Admin, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Admin, "", new {@class = "text-danger"})
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(model => model.Admin, new {Value = false})
                }


                <hr/>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save Changes" class="btn btn-grey"/>
                    </div>
                </div>

            </div>
        </div>

    </div>
}