<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yarn - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="" style="font-family:Rubik; color:#8e8f9e">

<!-- ------------------------------------ -->
<!-- NAVBAR -->
<!-- ------------------------------------ -->

@Html.Partial("_Nav")

<!-- ------------------------------------ -->
<!-- BODY -->
<!-- ------------------------------------ -->

<div class="container-fluid bg-primary m-0 p-0" style="margin-top: 4rem; margin-bottom: 4rem;">
    @RenderBody()
</div>

<!-- ------------------------------------ -->
<!-- FOOTER -->
<!-- ------------------------------------ -->

@Html.Partial("_Footer")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>