<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yarn - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="" style="font-family:Rubik; color:#8e8f9e">

<div style="min-height:100%; position:relative;"> <!-- container -->

    <div class="nav-fixed-top mt-0 mb-5" style=""> <!-- header -->
        <!-- ------------------------------------ -->
        <!-- NAV -->
        <!-- ------------------------------------ -->

        @Html.Partial("_Nav")
    </div>
    
    <div style="   padding:10px;
                   padding-bottom:60px;  "> <!-- body -->
        <!-- ------------------------------------ -->
        <!-- BODY -->
        <!-- ------------------------------------ -->

        <div class="bg-primary" style="padding:10px; padding-bottom:160px;">
            <div class="container text-primary">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <div style="   "> <!-- footer -->
        <!-- ------------------------------------ -->
        <!-- FOOTER -->
        <!-- ------------------------------------ -->
        
        @Html.Partial("_Footer")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
    
</div>

</body>
</html>